<p>
  I'm sorry, but we haven't heard back from <%= @event.student %> regarding problems with their shipping
  info for <%= @event.book %> on Free Objectivist Books. Their address was flagged
  <%= distance_of_time_in_words_to_now @flag.created_at %> ago, so we've simply canceled their request.
</p>

<p>(The donor has been notified as well and given a credit for the price of the book.)</p>
