<p class="field_with_errors"><%= pledge.errors[:quantity].join(", ") %></p>
<label>I pledge to donate <%= form.text_field :quantity, size: 1 %> books to students</label>
<label><%= form.radio_button :recurring, false %> this month</label>
<label><%= form.radio_button :recurring, true %> every month</label>
<p class="pledge-explanation">Most books are $10 a copy or less. You can change or cancel your pledge at any time.</p>
