<% content_for :title do %>Your Pledge<% end %>

<% content_for :stylesheet do %>
<style>
.pledge-explanation {
    padding-top: 10px;
}

.button {
    margin-top: 24px;
}

.cancel-link {
    margin-top: 24px;
}
</style>
<% end %>

<h1 class="grid_16">Your pledge</h1>

<div class="grid_12">
<%= form_for @pledge do |f| %>
    <%= render partial: "pledge_fields", locals: {pledge: @pledge, form: f} %>

    <%= f.submit "", class: "grid_4 alpha button update" %><div class="clear"></div>

    <p class="cancel-link">Or, <%= link_to "cancel this pledge", cancel_pledge_path(@pledge) %></p>
<% end %>
</div>
