<table>
    <tr>
        <th></th>
        <% metrics_table.columns.each do |column| %>
        <th class="metric_header"><%= metrics_table.column_name column %></th>
        <% end %>
    </tr>
    <% metrics_table.rows.each do |row| %>
    <tr class="metric">
        <td class="name">
            <% if metrics_table.has_link? row %>
            <%= link_to metrics_table.row_name(row), metrics_table.row_target(row) %>
            <% else %>
            <%= metrics_table.row_name row %>
            <% end %>
        </td>
        <% metrics_table.columns.each do |column| %>
        <td class="value"><%= format_number metrics_table.value(row, column) %></td>
        <% end %>
    </tr>
    <% end %>
</table>
