<form action="<%= amazon_payment.form_submit_url %>" method="post">
  <% amazon_payment.params.each do |key,value| %>
      <%= hidden_field_tag key, value %>
  <% end %>
  <%= image_submit_tag "http://g-ecx.images-amazon.com/images/G/01/asp/beige_medium_paynow_withlogo_lightbg.gif" %>
</form>

<% if chrome? %>
    <div class="message error">
      <p class="headline">You appear to be using Chrome. Some users have had problems paying with this browser.</p>
      <p class="detail">If you reach a blank page after logging in to Amazon:</p>
      <ol class="detail">
        <li>Try clearing your cache and/or cookies and starting over.
        <li>Alternately, you can use another browser, such as Safari or Firefox.
      </ol>
      <p class="detail">(We've notified Amazon of the problem but don't know if or when they will resolve it—sorry for the inconvenience.)
      </p>
    </div>
<% end %>
