<% content_for :title do %>Thank You<% end %>

<h1 class="grid_16">Thank you!</h1>
<ul class="grid_12 overview">
    <p>Please <%= mail_to 'jason@rationalegoist.com', 'contact Jason' %> to let him know you're ready to volunteer.</p>
</ul>
<div class="clear"></div>
