<div class="clear"></div>
<p>&nbsp;</p>
<div class="clear"></div>
<p class="footer">
  Copyright &copy; 2012–<%= Date.today.year %> Free Objectivist Books and Jason Crawford –
  <%= link_to "Terms of service", terms_path %> –
  <%= link_to "Privacy policy", privacy_path %>
</p>
