<% content_for :title do %>Privacy Policy<% end %>

<h1 class="grid_16">Privacy policy</h1>

<div class="grid_12">
  <p>The following represents the information gathering and use practices of Free Objectivist Books for Students (the
    "Site").</p>

  <h2>Information Gathering</h2>

  <p>The Site may collect information to improve functionality and content, and to monitor performance. We use such
    data to help answer specific questions about the usage and performance of the web site or individual web pages. When
    you visit the Site, we may collect information regarding:</p>

  <ul>

    <li>Your Internet location (IP address).</li>

    <li>Which pages you visit on our site.</li>

    <li>From which web page you came to our site.</li>

    <li>Which software you use to visit our site and its configuration.</li>

  </ul>

  <p>Any information you publicly provide through the Site in order to receive goods or services from a third party is
    shared with third parties. All other information you provide is confidential.</p>

  <h2>Information Use</h2>

  <p>The Site does not:</p>

  <ul>

    <li>Collect personally identifiable information (e.g., name, email address) except to the extent you voluntarily
      provide it to us.</li>

    <li>Provide or sell any personally identifiable information to outside agencies (third parties) except as necessary
      for you to directly receive products or services from third parties through your use of the Site.</li>

  </ul>

  <p>The information we collect may include your name, address, school, phone numbers and email addresses where you
    may be reached. We or third parties (to the extent you wish to receive goods or services from them) may use this
    information to contact you through various means including phone calls, text messages, e-mail and postal mail about
    products and services that we offer.</p>

  <p>Other than to third parties from whom you wish to receive goods or services, we will disclose your personal
    information, without notice, only if required to do so by law or in the good faith belief that such action is
    necessary to: (a) conform to the edicts of the law or comply with legal process served on the Site or us; (b)
    protect and defend the rights or property of the Site; and (c) act in urgent circumstances to protect the personal
    safety of users of the Site, us, or the public.</p>

  <h2>Security</h2>

  <p>This site has security measures in place to protect the loss, misuse and alteration of the information under our
    control.</p>

  <h2>Contacting Us</h2>

  <p>If you have any questions about this privacy statement, the practices of the Site, or your dealings with the
    Site, please <%= mail_to 'jason@rationalegoist.com', "contact us" %>.</p>

  <h2>Proviso</h2>

  <p>For more information on privacy, please visit the
    <%= link_to "Electronic Privacy Information Center", 'http://www.epic.org' %>.</p>
</div>
