<% content_for :title do %>Terms of Service<% end %>

<h1 class="grid_16">Terms of service</h1>

<div class="grid_12">
  <p>Please carefully read these terms and conditions before using these Free Objectivist Books for Students Web pages
    (the “Site"). By using the Site you indicate your agreement to these terms and conditions (“Agreement”). If you do
    not accept these terms and conditions, please do not use the Site.</p>

  <h2>1. Copyright and proprietary rights</h2>

  <p>This Site is the property of its owner and its licensors and is protected by United States and International
    Copyright laws. All copyright, trademark, and other proprietary rights in the Site and in the software, text,
    graphics, design elements, audio, music and all other materials originated or used on the Site (the "Information")
    are reserved to the owner of the Site and its licensors.</p>

  <ul>

    <li>You may not reproduce, upload, post, transmit, download or distribute any part of the Information or information
      accessed at other sites through links made at the Site ("Other Sites") other than printing out or downloading
      portions of the text and images for your own personal, non-commercial use.</li>

    <li>You may not modify the Site or any material residing on the Site.</li>

    <li>You shall observe copyright and other restrictions imposed by Other Sites. You may not use the Site or Other
      Sites in any manner that infringes the rights of any person or entity.</li>

    <li>Domain names and trademarks of Other Sites, or contained in information accessed at Other Sites, are the sole
      property of their respective owners. No affiliation with, endorsement of, or sponsorship by the owner of the Site
      should be inferred.</li>

  </ul>

  <h2>2. Responsibility for content</h2>

  <p>The owner of the Site does not screen, edit or review material submitted by users. The Site’s owner and its
    licensors can therefore accept no responsibility or liability for any material which may reside in or is accessed by
    the Site other than Information. The Site owner and its licensors has no responsibility with respect to Other
    Sites.</p>

  <p>You may not link, upload, post or transmit any illegal, obscene, offensive or otherwise inappropriate material to
    the Site. You agree to indemnify the owner of the Site from any damage, loss, cost or expense which it may incur as
    a result of the material you link, upload, post, or transmit to the Site. The Site’s owner has no duty to review or
    edit materials submitted by users. Any such materials may be removed by the Site’s owner at any time for any
    reason.</p>

  <h2>3. Third parties</h2>

  <p>Your correspondence or business dealings with, or participation in promotions of, marketing partners or other
    third parties found on or generated through our Site, including payment and delivery of related goods or services,
    and any other terms, conditions, warranties or representations associated with such dealings, are solely between you
    and such marketing partner or other third party. You agree that the Site’s owner and its licensors shall not be
    responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the
    result of the presence of such marketing partners or other third parties on our Site or located through the use of
    our Site.</p>

  <p>We may provide, or third parties may provide, links to other websites or resources. Because we have no control
    over such websites or resources, you acknowledge and agree that we are not responsible for the availability of such
    websites or resources, and do not endorse and are not responsible or liable for any content, advertising, products,
    or other materials on or available from such websites or resources. You also acknowledge and agree that the Site’s
    owner and its licensors shall not be responsible or liable, directly or indirectly, for any damage or loss caused or
    alleged to be caused by or in connection with the use of or reliance on any such content, goods or services
    available on or through any such websites or resource.</p>

  <h2>4. Exclusions Of warranties</h2>

  <p>No warranties of any kind are made with respect to the Site or Information, or Other Sites. THE SITE’S OWNER AND
    ITS LICENSORS DOES NOT WARRANT THAT THE SITE WILL MEET YOUR REQUIREMENTS, WILL BE ACCURATE, OR WILL BE UNINTERRUPTED
    OR ERROR FREE. WE EXPRESSLY EXCLUDE AND DISCLAIM ALL EXPRESS AND IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR
    A PARTICULAR PURPOSE AND NONINFRINGEMENT. WE SHALL NOT BE RESPONSIBLE FOR ANY DAMAGE OR LOSS OF ANY KIND ARISING OUT
    OF OR RELATED TO YOUR USE OF THE SITE, INCLUDING WITHOUT LIMITATION DATA LOSS OR CORRUPTION, REGARDLESS OF WHETHER
    SUCH LIABILITY IS BASED IN TORT, CONTRACT OR OTHERWISE.</p>

  <h2>5. Submissions</h2>

  <p>All concepts, ideas, comments, manuscripts, illustrations, and all other materials you disclose through on or in
    connection with this Site are submitted without any restrictions or expectation of confidentiality and become the
    property of the owner of the Site. The Site’s owner and its licensors shall have no financial or other obligations
    to you when you submit such information, nor shall you assert any proprietary or moral right of any kind with
    respect to such submissions. Subject to its Privacy Policy, we shall have the right to use, publish, reproduce,
    transmit, download, upload, post, display or otherwise distribute your submissions in any manner without notice or
    compensation to you.</p>

  <h2>6. Export controls</h2>

  <p>Your use of the Site will comply with all applicable laws, rules and regulations that govern the export of
    technical data.</p>

  <h2>7. Choice of law and jurisdiction</h2>

  <p>This Site is operated from our offices in the State of California, United States of America. This Agreement shall
    be governed by and construed in accordance with the laws of the State of California, without reference to any
    conflict of law principles.</p>

  <h2>8. Limitation of liability</h2>

  <p>IN NO EVENT SHALL THE SITE’S OWNER OR ITS EMPLOYEES, AGENTS, LICENSORS OR CONTRACTORS BE LIABLE FOR ANY
    INCIDENTAL, CONSEQUENTIAL, PUNITIVE OR MULTIPLE DAMAGES OF ANY KIND. Our liability to you or any third parties in
    any circumstance is limited to the greater of (a) the amount of fees, if any, you pay to us in the twelve (12)
    months prior to the action giving rise to liability, and (b) $100.</p>

  <h2>9. Limitation of claims</h2>

  <p>Any action on any claim against the Site must be brought by the user within one (1) year following the date the
    claim first accrued, or shall be deemed waived.</p>

  <p>You waive and relinquish all rights and benefits which you have or may have under Section 1542 of the Civil Code
    of the State of California or any similar provision of the statutory or non-statutory law of any other jurisdiction
    (including without limitation the states of Missouri, Delaware and Pennsylvania) to the full extent that you may
    lawfully waive all such rights and benefits.</p>

  <h2>10. Entire Agreement</h2>

  <p>This is the entire Agreement between the parties and may not be modified except in writing signed by both
    parties.</p>

  <h2>11. Dispute resolution</h2>

  <p>The parties will attempt in good faith to resolve through negotiation any dispute, claim or controversy arising
    out of or relating to this Agreement. In the event that the dispute, claim or controversy is not resolved by these
    negotiations, the matter will be submitted to Judicial Arbitration and Mediation Services, Inc.  (a.k.a. "JAMS"), or
    its successor, for mediation. The parties will cooperate with JAMS and with one another in selecting a mediator from
    JAMS' panel of neutrals, and in scheduling the mediation proceedings. The parties agree that they will participate
    in the mediation in good faith, and that they will share equally in its costs.</p>

  <p>If the matter is not resolved through mediation, then it shall be submitted to JAMS, or its successor, for final
    and binding arbitration. Nonetheless, legal action taken by us to recover damages for, or obtain an injunction
    relating to, our Site operations or intellectual property shall not be submitted to mediation or arbitration. The
    parties will cooperate with JAMS and with one another in selecting an arbitrator from JAMS' panel of neutrals, and
    in scheduling the arbitration proceedings. The parties covenant that they will participate in the arbitration in
    good faith, and that they will share equally in its costs. The prevailing party in any dispute will be awarded
    reasonable attorneys’ fees and costs.</p>

  <p>You have agreed, except as otherwise specified above, that all disputes, claims or controversies arising out of
    or relating to this Agreement will be decided as set forth above, and you are giving up any rights you might possess
    to have those matters litigated in a court or jury trial.</p>
</div>
