<% content_for :title do %>Your Donations<% end %>

<% content_for :stylesheet do %>
    <style>
        .request, .actions {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .actions p {
            padding-left: 3px;
        }
    </style>
    <%= stylesheet_link_tag 'donations' %>
<% end %>


<% if @any_need_action %>
    <div class="grid_12 message error">
      <p class="headline">You have unsent donations.</p>
      <p class="body">Please <%= link_to "send these books or pay for them", send_donations_path %>.</p>
    </div>
<% end %>

<h1 class="grid_16">Your donations</h1>

<div class="grid_12">
  <% if @donations.any? %>
      <%= render @donations %>
  <% else %>
      <p>None yet. <%= link_to 'Find students to donate books to', donate_path %></p>
  <% end %>
</div>
<div class="clear"></div>
