<% content_for :title do %>Thank You<% end %>

<h1 class="grid_16">Thank you</h1>

<div class="main grid_12 overview">
    <p>Thank you for your donation. We'll send your books soon.</p>
    <p><%= link_to 'Find more students to donate books to', donate_path %>
</div>
<div class="clear"></div>
