<p><i><%= @event.book %></i>, which you donated to <%= @event.student %>, is on its way.
    Volunteer <%= @event.fulfiller %> has sent this book.
</p>

<p>We'll let you know when we've confirmed that <%= @event.student %> has received the book.
    Thank you for donating!
</p>
