<p><%= @event.student.name %> says they have not yet received <i><%= @event.book %>,</i> which you agreed to donate to
  them on <%= short_date_with_time_ago @event.donation.created_at %>. Since you have not confirmed with us that you sent
  the book, we have canceled this request to let the student find another donor.
</p>

<p>When you choose students to donate to, please send the books promptly, and confirm that you have sent them using the
    buttons on the Free Objectivist Books website.
</p>

<p>If this is in error, please reply to this email to let us know.</p>
