<div class="testimonial">
    <div class="alpha grid_1">
        <%= image_tag "left-quote.png", class: "quote" %>
    </div>

    <div class="alpha grid_11 omega left">
        <div class="text"><%= markdown testimonial.text %></div>
        <div class="tagline"><%= markdown testimonial.attribution %></div>
        <% if defined?(permalink) && permalink %>
        <p class="permalink"><%= link_to 'Permalink to share', testimonial %></p>
        <% end %>
    </div>

    <div class="clear"></div>
</div>
